[package]
name = "sprs-benches"
version = "0.1.0"
authors = ["Vincent Barrielle <vincent.barrielle@m4x.org>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies.sprs]
version = "0.7.1"
path = ".."

[dependencies.sprs-rand]
version = "0.1.0"
path = "../sprs-rand"

[dependencies.plotters]
version = "0.2.12"

[dependencies]
pyo3 = { version="0.9.2", optional=true }

[build-dependencies]
cc = "1.0.52"
reqwest = { version="0.10.4", features=["blocking"], optional=true }
tar = { version="0.4.26", optional=true }
libflate = {version="1.0.0", optional=true }

[features]

default = []
nightly = ["pyo3"]
dl_eigen = ["reqwest", "tar", "libflate"]
eigen = []
